extends admin

block content
  h1= title
  form(id='search' action='/admin/topic/like' method='post' class="form-horizontal col-md-offset-1")
    div(class="col-md-4 pull-right")
      div(class="input-group")
        input(type="text" name='like' class="form-control" placeholder="输入搜索内容")
        span(class="input-group-btn")
          button(class="btn btn-info btn-search") 查找
  table(class='table table-striped table-hover')
    thead
      tr
        th TopicId
        th TopicName
        th Profile
        th State
    thbody
      each acc in data
        tr
          th #{acc.topicId}
          th #{acc.topicName}
          th #{acc.profile}
          th #{acc.state}
          th
            span(class="btn" onclick=`editUser('${acc.topicId}')`)
              img(src='/image/edit.png')
            span(class="btn" onclick=`deleteUser('${acc.topicId}')`)
              img(src='/image/delete.png')