extends student 

block content
  if(profile.length > 0)
    h2 个人中心
    h3 我的信息
    p 
      |姓名: #{profile[0].stuName}
      br
      |专业: #{profile[0].stuMajor}
      br
      |年级: 
      if(profile[0].stuGrade === 0)
        |大一
      else if(profile[0].stuGrade === 1)
        |大二
      else if(profile[0].stuGrade === 2)
        |大三
      else if(profile[0].stuGrade === 3)
        |大四
      else if(profile[0].stuGrade === 4)
        |研一
      else if(profile[0].stuGrade === 5)
        |研二
      else
        |研三
      br
      |电话号码: #{profile[0].phoneNum}
      br
      |邮箱: #{profile[0].email}
      br

    button(class="btn btn-primary", onclick="document.getElementById('stuModify').showModal()") 修改联系方式
    br

    dialog.dialog-class(id="stuModify", style="border: none; padding: 0;")
      div(class="col-md-12")
        div(class="form row")
          form(class="form-horizontal col-md-offset-1", action="profile/0", method="post")
            button(type="button", class='btn pull-right', onclick="document.getElementById('stuModify').close()") &times;
            br
            h4(class="form-title") 修改联系方式
            div(class="col-md-10 col-md-offset-1")
              div(class="form-group")
                label(name="phone") 电话号码
                input(class="form-control", type="text", name="phone", value=profile[0].phoneNum, required autofocus)
              div(class="form-group")
                label(name="email") 电子邮件
                input(class="form-control", type="text", name="email", value=profile[0].email, required autofocus)
              div(class="form-group")
                input(type="submit", class="btn btn-primary pull-right", value="确定")  

    h4 账号信息
    p 
      |用户名: #{profile[0].userName}
      br
      |创建日期: #{moment(profile[0].dateCreated).format('YYYY-MM-DD')}
      br

    button(class="btn btn-primary", onclick="document.getElementById('accModify').showModal()") 修改密码

    dialog.dialog-class(id="accModify", style="border: none; padding: 0;")
      div(class="col-md-12")
        div(class="form row")
          form(class="form-horizontal col-md-offset-1", action="profile/1", method="post")
            button(type="button", class='btn pull-right', onclick="document.getElementById('accModify').close()") &times;
            br
            h4(class="form-title") 修改密码
            div(class="col-md-10 col-md-offset-1")
              div(class="form-group")
                label(name="email") 原密码
                input(class="form-control", type="password", name="password0", placeholder="原密码", required autofocus)
              div(class="form-group")
                label(name="email") 新密码
                input(class="form-control", type="password", name="password1", placeholder="新密码", required autofocus)
              div(class="form-group")
                input(type="submit", class="btn btn-primary pull-right", value="确定")  
